<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="wogaa-tracker-cordova" version="2.2.0">

  <name>WogaaTracker</name>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/wogaa-tracker.js" name="WogaaTracker">
    <clobbers target="window.plugins.wogaatracker" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/sg/wogaa/tracker/cordova/WogaaTracker.java" target-dir="src/sg/wogaa/tracker/cordova"/>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="WogaaTracker">
        <param name="android-package" value="sg.wogaa.tracker.cordova.WogaaTracker"/>
      </feature>
    </config-file>
    <framework src="src/android/wogaa-tracker.gradle" custom="true" type="gradleReference"/>
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="WogaaTracker">
        <param name="ios-package" value="WogaaTracker" />
      </feature>
    </config-file>
    <source-file src="src/ios/WogaaTracker.swift" />
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    <podspec>
      <config>
        <source url="https://github.com/wogaa/Specs.git"/>
      </config>
      <pods use-frameworks="true">
        <pod name="Tracker" spec="~> 6.1.0" />
      </pods>
    </podspec>
  </platform>
</plugin>